<section class="py-16 bg-gray-50 px-6 sm:px-12 lg:px-24">
  <div class="container mx-auto">
    <h2 class="section-title text-center sm:text-3xl text-2xl  font-bold mb-6">
    {{ 'landingPage.questionSection.title' | translate }}
    </h2>
    <h5 class="text-center mb-8">
      {{ 'landingPage.questionSection.source' | translate }}
      <a href="https://sehati.gov.ma/ar/article/don_de_sang" class="text-red-600 underline">
        {{ 'landingPage.questionSection.link' | translate }}
      </a>
    </h5>
    <div class="grid grid-cols-1 sm:grid-cols-2 lg:grid-cols-3 gap-8">

      <div class="card p-6 bg-white shadow-xl rounded-xl space-y-4 transform transition duration-300 hover:scale-105 hover:shadow-2xl hover:bg-gray-100">
        <div class="card-body">
          <h3 class="text-xl font-semibold mb-3">
            {{ 'landingPage.questionSection.cards.one.title' | translate }}
          </h3>
          <p>
            {{ 'landingPage.questionSection.cards.one.question' | translate }}
          </p>
        </div>
      </div>

      <div class="card p-6 bg-white shadow-xl rounded-xl space-y-4 transform transition duration-300 hover:scale-105 hover:shadow-2xl hover:bg-gray-100">
        <div class="card-body">
          <h3 class="text-xl font-semibold mb-3">
            {{ 'landingPage.questionSection.cards.two.title' | translate }}
          </h3>
          <p>
            {{ 'landingPage.questionSection.cards.two.question' | translate }}
          </p>
        </div>
      </div>

      <div class="card p-6 bg-white shadow-xl rounded-xl space-y-4 transform transition duration-300 hover:scale-105 hover:shadow-2xl hover:bg-gray-100">
        <div class="card-body">
          <h3 class="text-xl font-semibold mb-3">
            {{ 'landingPage.questionSection.cards.three.title' | translate }}
          </h3>
          <ul class="list-disc pl-5">
            <li> {{ 'landingPage.questionSection.cards.three.questions.0' | translate }} </li>
            <li> {{ 'landingPage.questionSection.cards.three.questions.1' | translate }}  </li>
            <li> {{ 'landingPage.questionSection.cards.three.questions.2' | translate }} </li>
            <li> {{ 'landingPage.questionSection.cards.three.questions.3' | translate }} </li>
            <li> {{ 'landingPage.questionSection.cards.three.questions.4' | translate }} </li>
            <li> {{ 'landingPage.questionSection.cards.three.questions.5' | translate }} </li>
          </ul>
        </div>
      </div>

      <div class="card p-6 bg-white shadow-xl rounded-xl space-y-4 transform transition duration-300 hover:scale-105 hover:shadow-2xl hover:bg-gray-100">
        <div class="card-body">
          <h3 class="text-xl font-semibold mb-3">
            {{ 'landingPage.questionSection.cards.four.title' | translate }}
          </h3>
          <ul class="list-disc pl-5">
            <li> {{ 'landingPage.questionSection.cards.four.questions.0' | translate }} </li>
            <li> {{ 'landingPage.questionSection.cards.four.questions.1' | translate }}  </li>
            <li> {{ 'landingPage.questionSection.cards.four.questions.2' | translate }} </li>
            <li> {{ 'landingPage.questionSection.cards.four.questions.3' | translate }} </li>
          </ul>
        </div>
      </div>


      <div class="card p-6 bg-white shadow-xl rounded-xl space-y-4 transform transition duration-300 hover:scale-105 hover:shadow-2xl hover:bg-gray-100">
        <div class="card-body">
          <h3 class="text-xl font-semibold mb-3">
            {{ 'landingPage.questionSection.cards.five.title' | translate }}
          </h3>
          <ul class="list-disc pl-5">
            <li> {{ 'landingPage.questionSection.cards.five.questions.0' | translate }} </li>
            <li> {{ 'landingPage.questionSection.cards.five.questions.1' | translate }}  </li>
            <li> {{ 'landingPage.questionSection.cards.five.questions.2' | translate }} </li>
            <li> {{ 'landingPage.questionSection.cards.five.questions.3' | translate }} </li>
            <li> {{ 'landingPage.questionSection.cards.five.questions.4' | translate }} </li>
            <li> {{ 'landingPage.questionSection.cards.five.questions.5' | translate }} </li>
          </ul>
        </div>
      </div>


      <div class="card p-6 bg-white shadow-xl rounded-xl space-y-4 transform transition duration-300 hover:scale-105 hover:shadow-2xl hover:bg-gray-100">
        <div class="card-body">
          <h3 class="text-xl font-semibold mb-3">
            {{ 'landingPage.questionSection.cards.six.title' | translate }}
          </h3>
          <ul class="list-disc pl-5">
            <li> {{ 'landingPage.questionSection.cards.six.questions.0' | translate }} </li>
            <li> {{ 'landingPage.questionSection.cards.six.questions.1' | translate }}  </li>
            <li> {{ 'landingPage.questionSection.cards.six.questions.2' | translate }} </li>
            <li> {{ 'landingPage.questionSection.cards.six.questions.3' | translate }} </li>
            <li> {{ 'landingPage.questionSection.cards.six.questions.4' | translate }} </li>
          </ul>
        </div>
      </div>
    </div>
  </div>
</section>


<section class="py-16 bg-gray-50">
  <div class="container mx-auto px-6">
    <div class="flex flex-col lg:flex-row items-center gap-x-5">
      <!-- Image Section -->
      <div class="lg:w-2/4 flex justify-center lg:text-left mb-6 lg:mb-0">
        <img src="assets/images/banner2.png" class="w-[70%] h-auto" alt="" />
      </div>

      <!-- Text Section -->
      <div class="lg:w-2/4 text-center lg:text-left">
        <h2 class="text-center sm:text-3xl text-2xl  font-semibold text-gray-800 mb-3">
          {{ 'landingPage.supportSection.title' | translate }}
        </h2>
        <div class="flex justify-center">
          <a class="inline-block bg-customBGRed text-white py-2 px-4 rounded-lg text-lg transition-all ">
            {{ 'landingPage.supportSection.buttonText' | translate }}
          </a>
        </div>
      </div>
    </div>
  </div>
</section>


<section class="section py-16">
  <div class="container mx-auto px-4">
    <div class="content text-center">
      <h2 class="section-title text-center sm:text-3xl text-2xl font-bold mb-6">
        {{ 'landingPage.videoSection.title' | translate }}
      </h2>

      <!-- Video Container -->
      <div class="relative pb-[56.25%] mb-6 mx-4 sm:mx-8 lg:mx-36">
        <iframe
          src="https://www.youtube.com/embed/m2eQ-uzPD3g?si=zUVjzDTbmh1i50zV"
          style="position: absolute; top: 0; left: 0; width: 100%; height: 100%; border: 0;"
          allowfullscreen
          title="YouTube Video">
        </iframe>
      </div>
    </div>
  </div>
</section>

