
<div class="flex min-h-[700px] flex-col justify-center px-6 py-12 lg:px-8 bg-[#F2F7FC]">
  <div class="sm:mx-auto sm:w-full sm:max-w-sm">
    <h2 class="mt-10 text-center text-2xl font-bold leading-9 tracking-tight text-customTextRed">Sign in to your account</h2>
  </div>

  <div class="mt-5 sm:mx-auto sm:w-full sm:max-w-lg p-10 bg-white shadow-xl rounded-xl">
    <form class="space-y-6" [formGroup]="forgetPasswordForm" (ngSubmit)="forgetPassword()">


      <div>
        <div class="flex justify-center items-center ">
          <img src="assets/images/logo.png" alt="Qatra logo" class="w-24 h-24 object-contain" />
        </div>
        <label for="email" class="block text-sm font-medium leading-6 text-gray-900">Email address</label>
        <div class="mt-2">
          <input id="email" formControlName="email" type="email" autocomplete="email" required class="block w-full rounded-md border-0 py-1.5 px-4 text-gray-900 shadow-sm ring-1 ring-inset ring-gray-300 placeholder:text-gray-400 focus:ring-2 focus:ring-inset focus:ring-indigo-600 sm:text-sm sm:leading-6">
        </div>
        <span *ngIf="forgetPasswordForm.get('email')?.invalid && forgetPasswordForm.get('email')?.touched " class="text-red-500">Please enter your Email</span>
      </div>



      <div>
        <button type="submit" class="flex w-full justify-center rounded-md bg-customBGRed px-3 py-1.5 text-sm font-semibold leading-6 text-white shadow-sm hover:bg-customBGRed focus-visible:outline focus-visible:outline-2 focus-visible:outline-offset-2 focus-visible:outline-indigo-600">
          Reset Password
        </button>
      </div>
    </form>


    <p class="mt-6 text-center text-sm text-gray-500">
      Back To Home Page:
      <a routerLink=""
         class="font-bold leading-6 text-black hover:text-customTextRed">Home</a>
    </p>
  </div>
</div>
