<footer class="bg-white pt-12 pb-8">
  <div class="container mx-auto px-4 sm:px-36">
    <!-- Footer Content -->
    <div class="flex flex-col sm:flex-row justify-between items-center border-b pb-5">
      <!-- Footer Menu (Links) -->
      <div class="w-full sm:w-1/3 text-center sm:text-left mb-4 sm:mb-0 md:flex md:item-end">
        <a href="/information/privacy-policy" class="text-black hover:text-customTextRed">Privacy Policy</a>
        <span class="mx-2">|</span>
        <a href="/information/legal-information" class="text-black hover:text-customTextRed">Legal Information</a>
      </div>

      <!-- Logo (Centered) -->
      <div class="w-full sm:w-1/3 flex justify-center mb-4 sm:mb-0">
        <a href="index.html">
          <img src="assets/images/logo.png" alt="Logo" class="w-20 h-auto" />
        </a>
      </div>

      <!-- Social Icons -->
      <div class="w-full sm:w-1/3 text-center sm:text-right mb-4 sm:mb-0">
        <ul class="flex justify-center sm:justify-end gap-x-3 text-lg">
          <li>
            <a href="https://x.com/achrafaitibba" target="_blank"
               class="text-black hover:text-customTextRed">
              <i class="pi pi-twitter text-2xl"></i>
            </a>
          </li>
          <li>
            <a href="https://www.instagram.com/qatra.ma" target="_blank"
               class="text-black hover:text-customTextRed">
              <i class="pi pi-instagram text-2xl"></i>
            </a>
          </li>
          <li>
            <a href="https://www.facebook.com/qatra.mar" target="_blank"
               class="text-black hover:text-customTextRed">
              <i class="pi pi-facebook text-2xl"></i>
            </a>
          </li>
        </ul>
      </div>
    </div>

    <!-- Copyright Section -->
    <div class="text-center py-4">
      <small class="text-gray-400 text-sm sm:text-xl">
        Copyright © <span id="currentYear"></span> - Product by
        <a href="https://achrafaitibba.com" target="_blank"
           class="text-customTextRed text-sm sm:text-2xl mx-2 hover:underline">ACHRAF AIT IBBA</a>
      </small>
    </div>
  </div>
</footer>
